name: GitHub Profile Stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate GitHub summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: Akshaytomar893

      - name: Commit & push stats
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add profile-summary-card-output
          git commit -m "chore: update GitHub stats" || exit 0
          git push
