name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate stats
        uses: vn7n24fzkq/github-profile-summary-cards@release
        with:
          USERNAME: Akshaytomar893
          THEME: tokyo-night

      - name: Move files
        run: |
          mkdir -p assets
          mv profile-summary-card-output/* assets/

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "Update GitHub stats"
